{{ $here := .context }}
{{ if $here.IsPage }}

  <ul>
    {{ if or $here.Params.author $here.Site.Params.author }}
      <li class="author">
        {{ if $here.Params.author }}
          {{ $here.Params.author }}
        {{ else if $here.Site.Params.author }}
          {{ $here.Site.Params.author }}
        {{ end }}
      </li>
    {{ end }}

    {{ if $here.Date }}
      <li class="date">
        <time datetime="{{ $here.PublishDate.Format "2006-01-02t12:00:00" }}">
          {{ $here.PublishDate.Format "January 2, 2006" }}
        </time>
      </li>
    {{ end }}

    <li class="reading-time">
      {{ $here.ReadingTime }}
      {{ if eq $here.ReadingTime 1 }}
        Minute
      {{ else }}
        Minutes
      {{ end }}
    </li>
  </ul>

{{ end }}
